/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 5%;
  padding: 10px;
  border:1px solid red;
  visibility: hidden;
}
.column1 {
  float: left;
  width: 10%;
  padding: 10px;
  border:1px solid blue;
}
.column5 {
  float: left;
  width: 10%;
  padding: 10px;
  border:1px solid blue;
}
/*FIRST ROW COLUMNS**/
.top-column-2 {
  float: left;
  width: 7%;
  padding: 10px;
  border:1px solid yellow;
}

.top-column-3 {
  float: left;
  width: 7%;
  padding: 10px;
  border:1px solid yellow;
}

.top-column-4 {
  float: left;
  width: 7%;
  padding: 10px;
  border:1px solid yellow;
}

.bottom-column-middle {
  float: left;
  width: 7%;
  padding: 10px;
  border:1px solid yellow;
}

/*SIDE COLUMNS - LEFT**/
.column-left-1 {
  float: left;
  width: 7%;
  padding: 10px;
  border:1px solid turquoise;
}

/*SIDE COLUMNS - RIGHT*/
.column-right-5 {
  float: left;
  width: 7%;
  padding: 10px;
  border:1px solid turquoise;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.div {
  background:pink;
}