/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 5%;
  padding: 10px;
  border:1px solid red;
}
.column1 {
  float: left;
  width: 10%;
  padding: 10px;
  border:1px solid black;
}
.column5 {
  float: left;
  width: 10%;
  padding: 10px;
  border:1px solid black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.div {
  background:pink;
}